.container{
    cursor: pointer;
    margin-right: 1rem;
    padding: 1rem 2rem;  
    border: none;
    margin-bottom: 1rem;
    border-radius: 1rem;

    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 45px;

    color: #FFFFFF;
    transition: 0.3s;
}

.container:hover{
    opacity: 0.8;
}